
[data-testid="stMetricLabel"]{
color: rgb(237, 231, 225);

}
[data-testid="stMetric"]{
background-color: rgba(39, 46, 72, .4);
border-radius: 10px;
padding: 15% 15% 15% 15%;
color: white;

}
[data-testid="stMarkdownContainer"] hr{
opacity:0;
}
.main-svg{
background-color: rgba(39, 46, 72, .2);
border-radius: 10px;
padding: 0px 0px 0px 10px
}